
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    background-color: #fff;
    color: #515151;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.navbar {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #fff;
    border: none;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a.navbar-brand {
    font-size: 12px;
    border: none;
}

.navbar-nav a {
    font-weight: 600;
    font-size: 13px;
    border: none;
}

.navbar-nav li {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-center {
    text-align: center;
}

nav.navbar-pagetop {
  color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
}

#mynav {
  background-color: rgba(255, 255, 255, 1.0);
}

nav.navbar-pagetop a {
  color: #000000;
}

div.firstpage {
    height: 640px;
    background: url('../images/student.jpg') no-repeat center center;
    -webkit-background-size: cover;
}

div.signuppage {
    height: 850px;
    background: url('../images/meiske.jpg') no-repeat center center;
    -webkit-background-size: cover;
}


@media (min-width: 0px) {
  h1.description {
      font-size: 62px;
      margin-top: 160px;
      font-weight: 600;
      /*color: #16C4A1;*/
      color: #fff;
  }
  h2.description {
      font-size: 50px;
      font-weight: 300;
      color: #515151;
      border-bottom: solid 2px #aaa;
      padding-bottom: 15px;
      margin-left: 50px;
      margin-right: 50px;
  }
  h2.description-bottom {
      margin-top: 20px;
  }
}

p.description-sub {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #515151;
    font-weight: 300;
}

@media (min-width: 0px) {
  div.content {
     padding-left: 10px;
     padding-bottom: 40px;
     padding-top: 20px;

     background-color: #fafafa;
     text-align: center;
     color: #515151;
  }
  .content h1 {
    color: #DC5439;
  }
  h2.content-caps {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }
  p.content {
    font-size: 17px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

div.dark-20p {
  background-color: rgba(0, 0, 0, 0.2);
}

div.dark-50p {
  background-color: rgba(0, 0, 0, 0.4);
}

.empty-160px {
    margin-top: 160px;
}
.empty-130px {
    margin-top: 130px;
}
.empty-100px {
    margin-top: 100px;
}
.empty-80px {
    margin-top: 80px;
}
.empty-50px {
    margin-top: 50px;
}
.empty-30px {
   margin-top: 30px;
}
.empty-20px {
   margin-top: 20px;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

div.btn {
    border-radius: 0;
    padding: 12px;
    font-weight: 600;
    font-size: 13px;
    margin-top: 3px;
}

div.btn-big {
    margin-top: 10px;
    width: 350px;
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
}

div.btn-cta {
    background-color: #ff6363;
    color: #fff;
}

div.btn-cta a {
    color: #fff;
}

div.btn-cta:hover {
    background-color: #E53D3D;
}

div.btn-learnmore {
    border: solid 2px #ff6363;
    color: #ff6363;
}

div.btn-learnmore a {
    color: #ff6363;
}

div.btn-learnmore:hover {
    background-color: #fff;
    border: solid 2px #FF8787;
}

.floating-box {
    background-color: rgba(255, 255, 255, 0.95);
    width: 500px;
    height: 480px;
    position: absolute;
    margin-left: 80px;
    margin-top: 80px;
    padding: 30px;
}

@media (min-width: 0px) {
div.lotsoftext {
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
}
}

@media (min-width: 768px) {
div.lotsoftext {
    margin-left: 0px;
    margin-right: 0px;
    padding: 200px;
    padding-left: 300px;
    padding-right: 300px;
    color: #fafafa;
}
}

div.lotsoftext-img {
    background: url("../images/53.jpg") no-repeat center center;
    background-size: cover;
}

div.lotsoftext p {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 20px;
}

h2 {
    font-weight: 600;
    font-size: 36px;
}

div.howitworks {
  background-color: #f6f6f6;
  margin: 0px;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 60px;
  padding-bottom: 60px;
}

div.arrow {
 padding: 0px;
 padding-top: 40px;
}

img.arrow {
  height: 300px;
}

p.howitworks {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0px;
  font-size: 20px;
}
p.arrow-left {
  padding-left: 80px;
}
p.arrow-both {
  padding-left: 0px;
  padding-right: 0px;
}
p.arrow-right {
  padding-right: 80px;
}

div.thealfieway {
    padding: 80px;
}

div.thealfiedifference {
    padding-top: 100px;
}
