
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    /* background: url('../images/filaments4st.jpg') center center fixed;
    background-size: 120%; */
    background-color: #fff;
    color: #515151;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #DC5439;
    text-decoration: none;
    border-bottom: 1px solid #f7d3d3;
}


.navbar {
  margin-bottom: 0px;
}

a.navbar-brand {
    letter-spacing: 2px;
    font-size: 12px;
    border: none;
}

.nav.navbar-nav.navbar-right a {
    letter-spacing: 2px;
    font-size: 12px;
    border: none;
}

nav.navbar-pagetop {
  color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
}

#mynav {
  background-color: rgba(255, 255, 255, 1.0);  
}

nav.navbar-pagetop a {
  color: #000000;
}

@media (min-width: 0px){
  .firstpage {
      height: 640px;
      background: url('../images/student.jpg') no-repeat center center;
      -webkit-background-size: cover;
  }
}

@media (min-width: 0px) {
  h1.description {
      font-size: 62px;
      margin-top: 160px;
      letter-spacing: 5px;
      font-family: 'Trebuchet MS', sans-serif;
      font-weight: 600;
      /*color: #16C4A1;*/
      color: #fff;
  }
  h2.description {
      font-size: 25px;
      margin-top: 60px;
      letter-spacing: 3px;
      font-family: 'Trebuchet MS', sans-serif;
      font-weight: 300;
      /*color: #16C4A1;*/
      color: #fff;
  }
  h2.description-bottom {
      margin-top: 20px;
  }
}

@media (min-width: 600px) {
  h1.description {
  }
}

p.description-sub {
    font-size: 20px;
    margin-top: 80px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    color: #fff;
}

.code-example h2 {
  font-family: 'Source Code Pro', Monaco, courier, monospace;
  font-size: 24px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

@media (min-width: 0px) {
  pre.code {
    font-size: 12px;
    font-family: 'Source Code Pro', Monaco, courier, monospace;
    font-weight: 400;
    color: #515151;
    background-color: #fafafa;
    border-color: #eeeeee;
  }
  div.code-example {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
@media (min-width: 991px) {
  pre.code {
    font-size: 12px;
    font-family: 'Source Code Pro', Monaco, courier, monospace;
    font-weight: 400;
    color: #515151;
    background-color: #fafafa;
    border-color: #eeeeee;
    height: 220px;
  }
}

span.prompt {
  color: #FF6142;
}
span.code-string {
  color: #42b983;
}
span.code-comment {
  color: #2973b7;
}
span.code-keyword {
  color: #2973b7;
}
span.code-number {
  color: #42b983;
}

div.well {
  padding: 10px;
  padding-left: 20px;
}

div.code {
  font-size: 12px;
  font-family: 'Source Code Pro', Monaco, courier, monospace;
  font-weight: 400;
  color: #515151;
  white-space: pre;
}

span.code {
  font-size: 12px;
  font-family: 'Source Code Pro', Monaco, courier, monospace;
  font-weight: 400;
  color: #515151;
  white-space: pre;
}

div.down {
  text-align: center;
  background-color: #fff;
  padding-bottom: 20px;
}

@media (min-width: 0px) {
  div.content {
     padding-left: 10px;
     padding-bottom: 10px;
     background-color: #fff;
     text-align: center;
  }
  .content h1 {
    color: #DC5439;
    font-family: 'Open Sans', sans-serif;
  }
  h2.content-caps {
    padding-top: 20px;
    font-size: 26px;
    letter-spacing: 4px;
    color: #16C4A1;
  }
  .content h2 {
    font-size: 26px;
    color: #16C4A1;
  }
  .content p {
    font-size: 17px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 991px) {
  div.content {
     height: 280px;
     padding-left: 10px;
  }
}

div.content-left {
  text-align: left;
}

.content-left p {
  padding-left: 0px;
}

@media (min-width: 0px) {
  div.content-premium {
     background: url('../images/premium_dots_mobile.png') center center fixed;
     text-align: center;
     height: 500px;
     padding: 0px;
  }
  .content-premium h2 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 32px;
    letter-spacing: 4px;
    color: #FFFFFF;
  }
  .content-premium p {
    color: #eee;
    font-size: 17px;
    padding-bottom: 20px;
  }
}

@media (min-width: 600px) {
  div.content-premium {
     background: url('../images/premium_dots_cropped.png') center center fixed no-repeat;
     background-size: cover;
     height: 370px;
  }  
}

@media (min-width: 991px) {
  div.content-premium {
      height: 520px;
  }
}

@media (min-width: 1200px) {
  div.content-premium {
      height: 480px;
  }
}

@media (min-width: 0px) {
  div.content-squares {
     text-align: center;
     margin-bottom: 20px;
  }
  h2.content-squares-caps {
    padding-top: 60px;
    font-size: 26px;
    letter-spacing: 4px;
    color: #fff;
  }
  .content-squares p {
    color: #eee;
    padding-top: 20px;
    font-size: 17px;
  }
  div.square {
    height: 320px;
  }
  .square p {
    font-size: 17px;
    width: 210px;
    margin: 0 auto;
  }
}

.no-padding {
  padding: 0px ;
}

@media (min-width: 991px) {
  div.square {
    margin: 10px;
  }
}

@media (min-width: 1245) {
  div.square {
    height: 320px;
    margin: 10px;
    margin-bottom: 20px;
  }
}

.square1 {
  background-color: #81C1AA;
}
.square2 {
  color: #515151;
  background-color: #fafafa;
}
.square2 h2 {
  color: #515151;
}
.square2 p {
  color: #515151;
}
.square3 {
  color: #fff;
  background-color: #515151;
}
.square4 {
  color: #fff;
  background-color: #CE7E61;
}

@media (min-width: 0px) {
  .use-dontuse {
    background-color: #81C1AA;
    color: #fff;
    padding-bottom: 60px;
  }
}

@media (min-width: 991px) {
  .use-dontuse {
    height: 340px;
  }
}

@media (min-width: 0px) {
  .whatyouget {
    background-color: #919191;
    color: #fff;
    padding-bottom: 60px;
  }
}

@media (min-width: 991px) {
  .whatyouget {
    height: 340px;
  }
}

.checklist h2 {
  padding-top: 50px;
  width: 340px;
  margin: 0 auto;
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

.checklist li {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.8em;
  font-size: 17px;
  width: 340px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.checklist ul {
  padding-left: 0px;
}

.checklist ul li::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/check.png") center center no-repeat;
  background-size: 24px 24px;
  margin-right: 10px;
  position: relative;
  top: 4px;
}

div.dark-50p {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.code {
  background-color: #FAFAFA;
  color: #DC5439;
}

div.code-editor {
  padding-top: 10px;
  background-color: #222222;
  padding-bottom: 20px;
  color: #fff;
}
.code-editor h2 {
  padding-top: 0px;
  padding-bottom: 15px;
  font-size: 26px;
  letter-spacing: 4px;
  text-align: center;
}
#editor { 
    height: 350px;
    width: 660px;
    text-align: left;
    border: 2px solid #515151;
    margin-left: 15px;
    margin-bottom: 15px;
}
#editor-output {
    height: 350px;
    width: 550px;
    text-align: left;
    border: 2px solid #515151;
    background-color: #000000;
    float: left;
}
#editor-run {
    text-align: center;
    background-color: #7FBC93;
    padding: 15px;
    float: left;
    margin-left: 5px;
    width: 70px;
}
#editor-cpu {
    text-align: center;
    background-color: #DC5439;
    padding: 15px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    width: 70px;
}
#editor-mem {
    text-align: center;
    background-color: #DC5439;
    padding: 15px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    width: 70px;
}

.empty-160px {
    margin-top: 160px;
}
.empty-130px {
    margin-top: 130px;
}
.empty-100px {
    margin-top: 100px;
}
.empty-80px {
    margin-top: 80px;
}
.empty-50px {
    margin-top: 50px;
}
.empty-30px {
   margin-top: 30px; 
}
.empty-20px {
   margin-top: 20px; 
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

.get-started-button {
  text-align: center;
  background-color: #81C1AA;
  color: #fff;
  padding-bottom: 20px;
  height: 120px;
}

.btn.btn-outline {
    border: 2px solid #fff;
    background-color: #DC5439;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.btn-getstarted.btn-outline {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 25px;
    background: none;
    font-size: 19px;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.btn-getstarted.btn-outline:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #fff;
    color: #42b983;
}

.btn-getstarted.outline:active, .btn-primary.btn-outline.active, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    border: 2px solid #ffffff;
    border-style: solid;
    background: none;
    color: #ffffff;
}

.btn-primary.btn-outline {
    border: 2px solid #fff;
    color: #fff;
}

.btn-primary.btn-outline:hover, .open > .dropdown-toggle.btn-primary {
    margin-top: 0px;
    margin-bottom: 15px;
    background-color: #FF6142;
}

.btn-primary.outline:active, .btn-primary.btn-outline.active, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    border: 2px solid #ffffff;
    border-style: solid;
    background: none;
    color: #ffffff;
}


.btn-next.btn-outline {
    width: 150px;
    padding: 5px;
    border: 2px solid #DC5439;
    color: #fff;
    border-radius: 25px;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.btn-next.btn-outline:hover, .open > .dropdown-toggle.btn-primary {
    border: 2px solid #DC5439;
    color: #DC5439;
    background: #fff;
}

.btn-next.outline:active, .btn-primary.btn-outline.active, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    border: 2px solid #DC5439;
    border-style: solid;
    background: none;
    color: #DC5439;
}
